In [15]:
# sqlite
# creating list for inserting to db

In [1]:
import random

In [2]:
def rand_int():
  return random.randint(1,100)

In [3]:
my_list=[
    (rand_int(),"apple","red"),
    (rand_int(),"cherry","red"),
    (rand_int(),"date","brown"),
    (rand_int(),"grape","purple"),
    (rand_int(),"kiwi","brown"),
    (rand_int(),"lemon","yellow"),
    (rand_int(),"orange","orange"),
    (rand_int(),"pear","green"),
    (rand_int(),"watermelon","green"),
    (rand_int(),"banana", "yellow")

]

In [4]:
my_list

[(2, 'apple', 'red'),
 (40, 'cherry', 'red'),
 (30, 'date', 'brown'),
 (43, 'grape', 'purple'),
 (84, 'kiwi', 'brown'),
 (71, 'lemon', 'yellow'),
 (99, 'orange', 'orange'),
 (55, 'pear', 'green'),
 (56, 'watermelon', 'green'),
 (31, 'banana', 'yellow')]

In [53]:
import sqlite3
connection = sqlite3.connect("fruits.db")

cursor= connection.cursor()
cursor.execute("CREATE TABLE fruits (amount interger,fruit text,color text)")
cursor.executemany("INSERT INTO fruits VALUES (?,?,?)",my_list)
connection.close()

In [9]:
import sqlite3
connection = sqlite3.connect("fruits.db")
cursor=connection.cursor()
cursor.execute("CREATE TABLE fruits (amount interger,fruit text ,color text)")
cursor.executemany("INSERT INTO fruits VALUES (?,?,?)",my_list)
for row in cursor.execute("SELECT * FROM  fruits"):
  print(row)

(2, 'apple', 'red')
(40, 'cherry', 'red')
(30, 'date', 'brown')
(43, 'grape', 'purple')
(84, 'kiwi', 'brown')
(71, 'lemon', 'yellow')
(99, 'orange', 'orange')
(55, 'pear', 'green')
(56, 'watermelon', 'green')
(31, 'banana', 'yellow')

In [10]:
cursor.execute("SELECT * FROM fruits WHERE color=:c", {"c":"green"})
color_search=cursor.fetchall()
print(color_search)

[(55, 'pear', 'green'), (56, 'watermelon', 'green')]

In [11]:
cursor.execute("CREATE TABLE translates (en_color text ,tr_color text)")
cursor.execute("INSERT INTO translates VALUES(?,?)",("green","yeşil"))
cursor.execute("SELECT *FROM translates WHERE en_color=:c",{"c":"green"})
cursor.fetchall()

[('green', 'yeşil')]

In [ ]:
for data in color_search:
  gs=[cursor.execute("SELECT *FROM translates WHERE en_color=:c",{"c":"green"})[0][1] if value == color_search[0][0] else value for value in data
]

In [25]:
cursor.execute("INSERT INTO translates VALUES (?,?)",("yellow","sari"))
cursor.execute("INSERT INTO translates VALUES (?,?)",("brown","kahverengi"))
cursor.execute("INSERT INTO translates VALUES (?,?)",("red","kirmizi"))
cursor.execute("INSERT INTO translates VALUES (?,?)",("orange","orange"))
cursor.execute("INSERT INTO translates VALUES(?,?)",("purple","mor"))
cursor.execute("SELECT en_color ,tr_color,fruit FROM translates INNER JOIN fruits ON en_color=:c",{"c":"yellow"})
cursor.fetchall()

[('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'apple'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'cherry'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'date'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'grape'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'kiwi'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'lemon'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'orange'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'pear'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'watermelon'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana'),
 ('yellow', 'sari', 'banana')]